<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="car.erp.dao.GoodsMapper">
    <resultMap type="car.erp.model.Goods" id="goodsMap">
        <id property="id" column="id" />
        <result property="goodsName" column="goodsName" />
        <result property="price" column="price" />
        <result property="goodsCategory" column="goodsCategory" />
        <result property="createDate" column="createDate" />
    </resultMap>
    <select id="getGoodsList" resultMap="goodsMap">
      select c.id id,
             c.goods_name goodsName,
             c.goods_price price,
             c.goods_category goodsCategory,
             c.create_date createDate
      from car_goods c where 1=1
      <if test="queryStr != null and queryStr != '' ">
      	and c.goods_name like CONCAT('%',#{queryStr},'%')
      </if>
      order by c.id DESC
    </select>
    
    <select id="getOne" resultMap="goodsMap">
      select c.id id,
             c.goods_name goodsName,
             c.goods_price price,
             c.goods_category goodsCategory,
             c.create_date createDate
      from car_goods c
      where c.id = #{id}
      order by c.id DESC
    </select>
    
    <select id="loadGoodsByCategory" resultMap="goodsMap">
      select c.id id,
             c.goods_name goodsName,
             c.goods_price price,
             c.goods_category goodsCategory,
             c.create_date createDate
      from car_goods c
      where c.goods_category = '机油'
    </select>
    
    <insert id="saveGoods" parameterType="car.erp.model.Goods">
    	insert into 
    		car_goods(goods_name,goods_price,goods_category,create_date) 
    		values(#{goodsName},#{price},#{goodsCategory},now());
    </insert>
    
    <update id="updateGoods" parameterType="car.erp.model.Goods">
    	update car_goods c 
    		set c.goods_name = #{goodsName},
    			c.goods_price = #{price},
    			c.goods_category = #{goodsCategory}
    		where c.id = #{id}
    </update>
    
    <delete id="delete">
    	delete from car_goods
    		where id = #{id}
    </delete>
</mapper>